.navbar{

height:70px;

background:#111827;
display:flex;

justify-content:space-between;

align-items:center;

padding:0px 30px;

border-bottom:1px solid #1f2937;

}

.logo{

display:flex;
margin: 0;
align-items:center;

gap:12px;

}

.logo-circle{

width:45px;

height:45px;

background:#3b82f6;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

font-weight:bold;

}

.logo-text h2{

font-size:20px;

}

.logo-text p{

font-size:12px;

color:#94a3b8;

}

.search-box{

width:420px;

height:45px;

background:#1e293b;

display:flex;

align-items:center;

padding:0px 15px;

border-radius:10px;

gap:10px;

}

.search-box input{

flex:1;

background:none;

border:none;

outline:none;

color:white;

font-size:15px;

}

.right-side{

display:flex;

align-items:center;

gap:20px;

}

.market-price{

text-align:right;

}

.market-price span{

font-size:13px;

color:#9ca3af;

}

.market-price h4{

color:#22c55e;

}

.wallet{

display:flex;

align-items:center;

gap:10px;

padding:10px 18px;

background:#1e293b;

border-radius:10px;

}

.icon-btn{

width:45px;

height:45px;

border:none;

background:#1e293b;

border-radius:10px;

cursor:pointer;

color:white;

}

.profile{

width:45px;

height:45px;

border:none;

background:#3b82f6;

border-radius:50%;

cursor:pointer;

color:white;

}